/* Selector universal */
/* * {
    margen: 0;
    relleno: 0;
    border: 1px azul violeta sólido;
    border-radius: 5px;
} */

/* Selector de tipo */
/* principal {
    background-color: naranja;
    border-radius: 5px;
} */

/* Selector por ID */
/* #tarta {
    background-color: aguamarina;
}
#encabezado {
    background-color: aguamarina;
} */

#pie , #encabezado, aparte {

    background-color:aquamarine;
}